numpy
pandas
scikit-learn
scipy
matplotlib
plotly
celery
redis
pytest
cryptography
flask
Flask-WTF
flask_cors
flask_sqlalchemy
flask_bcrypt
flask_jwt_extended
pymysql
mysql-connector
mysqlclient
flasgger
werkzeug